<!DOCTYPE html>
<html>
<header><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"><meta charset="utf-8"></header>
<body>
	<div class="ui secondary vertical menu">
	    <a class="item" href="/">
	      Forsíða
	    </a>
	    <a class="item" href="/leikarar">
        Leikarar
      </a>
      <a class="item" href="/hafdusamband">
        Hafðu samband
      </a>
	  </div>
	  {% block body %}{% endblock %}
</body>
</html>