{% include "index.html" %}
<head>
    <title>Hafðu Samband</title>
</head>
<script type="text/javascript">
   function showHide() {
     var div = document.getElementById("hidden_div");
     if (div.style.display == 'none') {
       div.style.display = '';
     }
     else {
       div.style.display = 'none';
     }
   }
  </script>
  <div class="ui form success">
    <div class="ui form">
      <div class="required field">
        <label>Fullt Nafn</label>
        <input type="text" placeholder="t.d Jón Jónsson">
      </div>
      <div class="required field">
        <label>Netfang</label>
        <input type="email" placeholder="jonjons@hotmail.com" required>
      </div>
    </div>
    <div class="ui success message" id="hidden_div">
      <div class="header">Fyrirspurn send</div>
        <p>Takk fyrir hjálpina.</p>
    </div>
    <div class="ui submit button" method="post" onsubmit="showHide(); return false;">Submit</div>
  </div>
    <div>
  	<div class="ui grid">
      <div class="three wide column"></div>
			<div class="four wide column">
        <div><h2><strong>Netfang:</strong></h2></div>
        <br>
        <div class="four wide column"><h4>Ef þú hefur einhverjar spurningar<a href="mailto:gustigaur@gmail.com?subject=spurning Feedback">, sendu okkur póst.</a></h4></div>
      </div>
			<div class="four wide column">
        <div><h2><strong>Heimilisfang:</strong></h2></div>
        <br>
        <div class="four wide column"><h4>Dalvegi 2, 201 Kópavogur</h4></div>
      </div>
			<div class="four wide column">
        <div><h2><strong>Sími:</strong></h2></div>
        <br>
        <div class="four wide column"><h4>1234567</h4></div>
      </div>
    </div>
	</div>
{% block body %}{% endblock %}